################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/GoToTabExtension/bin
/GoToTabExtension/.vs
/GoToTabExtension/obj
/.vs